<% provide(:nav_title, "") %>
<h1>School management app</h1>

<%= link_to "sign in", new_user_session_path, class: "btn btn-primary" %>
<%= link_to "create school", new_user_registration_path, class: "btn btn-success" %>
