<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>

<p>
  Account Details<br>
  --------------------------
</p>
<p>Name: <%= @user.name %></p>
<p>Email: <%= @user.email %></p>
<!--<p>Password: <%#= @user.password %> Click on the the link to change the pass <%#= @url %></p>-->


</body>
</html>
