<div class="pt-5 border-bottom pb-5 ">
    <h4 class="float-left "> <span class="fa fa-list"></span> Department Info</h4>
    <%= link_to 'Edit Department', '', class:'float-right btn btn-primary'%>
    <%#= link_to 'Delete Department',  %>
</div>

<div class="jumbotron">
  <p><b>Name: </b><%= @department.name %></p>
  <p><b>Description: </b><%= @department.description %></p>
</div>
